.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;

    grid-template-areas: 
    "logo"
    "titel"
    "zoeken"
    "map"
    "weer"
    "zon"
    ;
}

body {
    margin: 0;
}

.flex{
  display: flex;
  flex-flow: column;
}

.logo {
    grid-area: logo;
}

.titel {
    grid-area: titel;
}

.geocoder {
    grid-area: zoeken;
}

.map {
    grid-area: map;
}

.weer {
    grid-area: weer;
}

.tijd {
    grid-area: zon;
}

@media screen and (min-width: 635px) /*tablet*/ {
    .grid-container {
        display: grid;
        grid-gap: 2vw;
        grid-template-columns: 1fr;
    
        grid-template-areas: 
        "logo logo"
        "titel titel"
        "zoeken zoeken"
        "map weer"
        "map zon"
        ;
    }
}

@media screen and (min-width: 1200px) /*kleine desktop*/ {
    .grid-container {
        display: grid;
        grid-gap: 2vw;
        grid-template-columns: 1fr;
    
        grid-template-areas: 
        "logo logo"
        "titel titel"
        "zoeken zoeken"
        "map map"
        "weer zon"
        ;
    }

}