body {
    background-color: black;
    color: white;
    padding-bottom: 10px;
}

.spacexlogo {
    width: 60vw;
    margin-left: 20vw;
}

h1 {
    text-align: center;
}


.weer, .tijd {
    width: 90vw;
    margin-left: 5vw;
    background-color: gray;
    text-align: center;
    display: inline-block;
}

#map {
    overflow: visible;
    /* position: relative; */
    display: inline-block;
    width: 90vw;
    height: 50vw;
    margin-left: 5vw;
}

.mapboxgl-canvas {
    position: relative;
}

article {
    margin-bottom: 10px;
}

.geocoder {
    text-align: center;
}

.mapboxgl-ctrl-geocoder--button {
    display: none;
}